<h1>Welcome to Drones</h1>
<p>Click on one of the link to access your drones or create a new one</p>
<img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/9/e/7/9e73c416ee_131285_canonique-2562.jpg"
    alt="Drone Image" />