<h2>Create a new drone</h2>


<form action="/drones/create" method="POST">
  <label for="title" class="form-label">Name</label>
  <input class="form-control" id="exampleFormControlInput1" type="text" name="name">
  <br>
  <label for="title" class="form-label">Propellers</label>
  <input class="form-control" id="exampleFormControlInput1" type="text" name="propellers">
  <br>
  <label for="title" class="form-label">Max speed</label>
  <input class="form-control" id="exampleFormControlInput1" type="text" name="maxSpeed">
  <br>
  <button class="btn btn-primary" type="submit">Add to list</button>
</form>